<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>add nfc</title>
</head>
<body>

<section layout:fragment="content" class="container my-5">
    <h2>Add NFC</h2>
    <form th:action="@{/nfc/add}" th:object="${nfc}" method="post">
        <!-- Name -->
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <!-- Credentials -->
        <div class="mb-3">
            <label for="credentials" class="form-label">Credentials</label>
            <input type="text" class="form-control" id="credentials" th:field="*{credentials}">
            <div class="text-danger" th:if="${#fields.hasErrors('credentials')}" th:errors="*{credentials}"></div>
        </div>

        <!-- Active Status -->
        <div class="mb-3">
            <label for="active" class="form-label">Active</label>
            <select class="form-select" id="active" name="active" th:field="*{active}">
                <option th:value="true" th:text="'Active'"></option>
                <option th:value="false" th:text="'Inactive'"></option>
            </select>
            <div class="text-danger" th:if="${#fields.hasErrors('active')}" th:errors="*{active}"></div>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <!-- User Selection -->
            <div class="mb-3">
                <label for="userID" class="form-label">User</label>
                <select class="form-select" id="userID" th:field="*{userID}">
                    <option value="" disabled selected>Select a user</option>
                    <option th:each="user : ${users}"
                            th:value="${user.id}"
                            th:text="${user.username}">
                    </option>
                </select>
                <div class="text-danger" th:if="${#fields.hasErrors('userID')}" th:errors="*{userID}"></div>
            </div>
        </div>

        <div sec:authorize="hasRole('ROLE_USER')">
            <input type="hidden" th:field="*{userID}"
                                                         th:value="${userId}">
        </div>
        


        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</section>



</body>
</html>